@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    background: rgb(251,129,63);
    background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(255,179,0,0.849191788531819) 100%);
}

#navbar a {
    padding: 10px 20px 10px 20px; 
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.3s ease-out;
}

#navbar a:hover{
    color: grey;
    transform: rotate(6deg);
}

#home{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
}