@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/*NAVBAR FIXED AT TOP OF PAGE*/


#navbar {
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

#navlinks {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#navlinks li {
    margin-left: 20px;
}

#navlinks a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    display: block;
    color: white;
    transition: all 0.3s ease-out;
}

#navlinks a:hover{
    color: black;
    transform: rotate(6deg);
}

/*HOME PAGE*/

#Home {
    width: 100%;
    height: 100vh;
    position:relative;  
    scroll-behavior: smooth;
}

#home-image {
    background-image: url(./images/resizedBooks.png);
    background-position: center center;
    background-attachment: local;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    bottom:0;
    filter:contrast(.7) brightness(.7);  
    left:0;
    right:0;
    top:0;
}

/*Provides animation information for the welcome text to slide in from the left of the screen*/
@keyframes slideOnScreen {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform:translate(0);
    }
}

#home-content {
    animation: 2s ease-out 0.5s 1 slideOnScreen;
    animation-fill-mode: forwards; /*Keeps animated text on page after animation completes*/
    align-items:center;
    color:white;
    display:flex;
    position: absolute;  
    font-family:sans-serif;
    text-align:left;
    justify-content:left;
    padding:5vw;
    max-width: 325px;
    left:0%;
    top: 25%;
}



#home-content p {
    font-size: 2.5em;
}


/*ABOUT PAGE*/

#About {
    width: 100%;
    height: 100vh; 
    background-color: #000000;
    background-image: linear-gradient(315deg, #3f3f3f 0%, #7f8c8d 74%);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#AbContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
}

#AbContainer img {
    border-radius: 25%;
    margin-left: 25px;
} 



